*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: row;  
    justify-content:center;
    align-items:stretch;
    background-color: yellow;
    height: 500px;
   
}

.flex-item {
    color: white;
    width: 100%;
    background-color: red;
    margin: 10px;
   
}

.flex-item:nth-child(3) {
   font-size: 40px;
}



/* 
 flex-direction: "row" = escrito na vertical
 flex-direction: "column" = horizontal colunas



justify-content: = eixo vertical
        "space between" alinhamento ultilizando o mesmo espaçamento



   align-items: responsavel pelo eixo perpeticular 
         "flex-start" alinhado a esquerda / 
         "center" alinhado ao centro /
          "flex-end "  alinhado a direita. 

*/